/*---------- RESET ----------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,footer,header,hgroup,nav,section,figure,figcaption{display:block;margin:0}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}input,textarea{-webkit-border-radius:0;border-radius:0}input{-webkit-appearance:none}body{-webkit-text-size-adjust:none}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}::-moz-focus-inner{border:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
::-moz-selection {background:#5B4492;color:#fff;}
::selection {background:#5B4492;color:#fff;}
input[type="checkbox"]{-webkit-appearance:checkbox;}
input[type="radio"]{-webkit-appearance:radio;}

/*---------- ICONS ----------*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wuroan');
  src:  url('fonts/icomoon.eot?wuroan#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wuroan') format('truetype'),
    url('fonts/icomoon.woff?wuroan') format('woff'),
    url('fonts/icomoon.svg?wuroan#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}


/*---------- GENERAL STYLES ----------*/
html,body{position:relative;}
html:before,
html:after{content:"";position:absolute;top:0;z-index:1;}
html:before{width:249px;height:291px;left:0;
	background: url("../images/header-left.png") no-repeat 0 0;
	-webkit-background-size:100%;
	background-size:100%;
}
html:after{width:395px;height:343px;right:0;
	background: url("../images/header-right.png") no-repeat 0 0;
	-webkit-background-size:100%;
	background-size:100%;
}
body{color:#99a1b3;font-family: 'Space Mono', monospace;font-size:1.125rem;
	min-height:1118px;line-height:1.5;background-color:#0E0027;
}
body:after{content:"";position:absolute;left:0;bottom:0;width:100%;
	background:url("../images/footer.png") center bottom no-repeat;height:100%;
}

h1, h2, h3, h4{font-weight:normal;}
a{color:#909090;text-decoration:none;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
p{margin-bottom:20px;}
img{max-width:100%;width:100%;height:auto;padding:0;margin:0;border:none;display:block;}
.clearfloat{zoom:1;}
.clearfloat:before,
.clearfloat:after{content:"";display:table;}
.clearfloat:after{clear:both;}
.wrapper{width:100%;padding:0 70px;margin:0 auto;}
.wrapper.no-pad-right{padding-right:0;}
.content-wrapper{padding:50px 0;}
.content-wrapper.no-pad-top{padding-top:0;}
.section-title{font-size:2.25rem;line-height:1.125;margin-bottom:1.5rem;color:#fff;
	position:relative;padding-top:26px;
}
.section-title:before,
.section-title:after{content:"";height:6px;background-color:#FF08DF;
	position:absolute;top:0;
}
.section-title:before{width:40px;left:0;}
.section-title:after{width:10px;left:50px;}
.text-center{text-align:center;}
.small-wrapper{max-width:472px;margin-left:auto;margin-right:auto;}
#particles{position:fixed;left:0;right:0;top:0;bottom:0;z-index:1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
main{position:relative;z-index:10;}
.summary{font-size:1.5rem;}

/*---------- HEADER ----------*/
header{padding:46px 0 0 0;position:relative;z-index:10;}
header .wrapper{display:flex;justify-content:space-between;align-items:center;}
header .logo{display:block;flex:0 0 425px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
header .logo:hover{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

/*---------- MAIN NAV ----------*/
#main_nav{display:flex;}
#main_nav li{padding-left:30px;}
#main_nav a{color:#fff;font-size:16px;line-height:40px;display:block;position:relative;}
#main_nav a:after{position:absolute;bottom:0;left:0;overflow:hidden;max-width:0;
	border-bottom:2px solid #FF09DF;content:"";width:100%;
	-webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
#main_nav a:hover:after, 
#main_nav a:focus:after, 
#main_nav a.active:after{max-width:100%;}

/*---------- WELCOME ----------*/
#welcome .wrapper{display:flex;justify-content:space-between;align-items:center;}
#welcome .col.left{padding-right:80px;max-width:700px;}
#welcome .big-title{font-size:4rem;line-height:60px;color:#fff;}
#welcome .big-title span{color:#FF07DF;}

.home-slider{max-width:650px;}

/*---------- GLOBAL STATS ----------*/
.global-stats{display:flex;}
.global-stats .block{margin:30px 0 0 30px;color:#fff;min-height:226px;display:flex;
	flex-direction:column;background-color:#FF7D37;justify-content:center;padding:20px;
	flex-basis:100%;
	-webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.5);
	box-shadow: 0 20px 20px rgba(0,0,0,0.5);
	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.global-stats .block:first-child{margin-left:0;}
.global-stats .block:nth-child(1){
	background:#FF7D37;
	background: -webkit-linear-gradient(76deg, rgba(255,192,106,1) 0%, rgba(255,125,55,1) 100%);
	background: -o-linear-gradient(76deg, rgba(255,192,106,1) 0%, rgba(255,125,55,1) 100%);
	background: linear-gradient(76deg, rgba(255,192,106,1) 0%, rgba(255,125,55,1) 100%);
}
.global-stats .block:nth-child(2){
	background:#FF0D07;
	background: -webkit-linear-gradient(76deg, rgba(255,96,7,1) 0%, rgba(255,13,7,1) 100%);
	background: -o-linear-gradient(76deg, rgba(255,96,7,1) 0%, rgba(255,13,7,1) 100%);
	background: linear-gradient(76deg, rgba(255,96,7,1) 0%, rgba(255,13,7,1) 100%);
}
.global-stats .block:nth-child(3){
	background:#F20067;
	background: -webkit-linear-gradient(76deg, rgba(255,81,124,1) 0%, rgba(242,0,103,1) 100%);
	background: -o-linear-gradient(76deg, rgba(255,81,124,1) 0%, rgba(242,0,103,1) 100%);
	background: linear-gradient(76deg, rgba(255,81,124,1) 0%, rgba(242,0,103,1) 100%);
}
.global-stats .block:nth-child(4){
	background:#FB00DC;
	background: -webkit-linear-gradient(76deg, rgba(255,91,235,1) 0%, rgba(251,0,220,1) 100%);
	background: -o-linear-gradient(76deg, rgba(255,91,235,1) 0%, rgba(251,0,220,1) 100%);
	background: linear-gradient(76deg, rgba(255,91,235,1) 0%, rgba(251,0,220,1) 100%);
}
.global-stats .value{display:block;font-weight:bold;font-size:48px;}
.global-stats .label{display:block;font-size:18px;text-transform:uppercase;}
.global-stats .block:hover{
	-webkit-transform: scale(1.04, 1.04);
	transform: scale(1.04, 1.04);
}

/*---------- FOOTER ----------*/
footer{text-align:center;position:relative;z-index:10;color:#fff;height:550px;}
footer .title{font-size:24px;margin-bottom:20px;}
.social{display:flex;justify-content:center;}
.social a{width:64px;height:64px;line-height:64px;margin:10px;background-color:#FF07DF;
	color:#fff;font-size:32px;text-align:center;
}
.social a:hover{background-color:#5B4492;}
.copyright{display:block;margin-top:20px;font-size:14px;}
