/*---------- RESET ----------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,footer,header,hgroup,nav,section,figure,figcaption{display:block;margin:0}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}input,textarea{-webkit-border-radius:0;border-radius:0}input{-webkit-appearance:none}body{-webkit-text-size-adjust:none}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}::-moz-focus-inner{border:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
::-moz-selection {background:#5B4492;color:#fff;}
::selection {background:#5B4492;color:#fff;}
input[type="checkbox"]{-webkit-appearance:checkbox;}
input[type="radio"]{-webkit-appearance:radio;}

/*---------- ICONS ----------*/



/*---------- GENERAL STYLES ----------*/
html,body{position:relative;}
html:before,
html:after{content:"";position:absolute;top:0;z-index:1;}
html:before{width:249px;height:291px;left:0;
	background: url("../images/header-left.png") no-repeat 0 0;
	-webkit-background-size:100%;
	background-size:100%;
}
html:after{width:395px;height:343px;right:0;
	background: url("../images/header-right.png") no-repeat 0 0;
	-webkit-background-size:100%;
	background-size:100%;
}
body{color:#99a1b3;font-family: 'Space Mono', monospace;font-size:1.125rem;
	min-height:928px;line-height:1.5;
	background:url("../images/footer.png") center bottom no-repeat #0E0027;
	-webkit-background-size:cover;
	background-size:cover;
}

h1, h2, h3, h4{font-weight:normal;}
a{color:#909090;text-decoration:none;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
p{margin-bottom:20px;}
img{max-width:100%;width:100%;height:auto;padding:0;margin:0;border:none;display:block;}
.clearfloat{zoom:1;}
.clearfloat:before,
.clearfloat:after{content:"";display:table;}
.clearfloat:after{clear:both;}
.wrapper{width:100%;padding:0 70px;margin:0 auto;}
.wrapper.no-pad-right{padding-right:0;}
.content-wrapper{padding:60px 0;}
.content-wrapper.no-pad-top{padding-top:0;}
.section-title{font-size:2.25rem;line-height:1.125;margin-bottom:1.5rem;color:#fff;}
.text-center{text-align:center;}
.small-wrapper{max-width:472px;margin-left:auto;margin-right:auto;}
#particles{position:fixed;left:0;right:0;top:0;bottom:0;z-index:1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
main{position:relative;z-index:10;}
.summary{font-size:1.5rem;}

/*---------- HEADER ----------*/
header{padding:46px 0 0 0;position:relative;z-index:10;}
header .wrapper{display:flex;justify-content:space-between;align-items:center;}
header .logo{display:block;flex:0 0 425px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
header .logo:hover{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

/*---------- MAIN NAV ----------*/
#main_nav{display:flex;}
#main_nav li{padding-left:30px;}
#main_nav a{color:#fff;font-size:16px;line-height:40px;display:block;position:relative;}
#main_nav a:after{position:absolute;bottom:0;left:0;overflow:hidden;max-width:0;
	border-bottom:2px solid #FF09DF;content:"";width:100%;
	-webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
#main_nav a:hover:after, 
#main_nav a:focus:after, 
#main_nav a.active:after{max-width:100%;}

/*---------- WELCOME ----------*/
#welcome .wrapper{display:flex;justify-content:space-between;align-items:center;}
#welcome .col.left{padding-right:80px;max-width:700px;}
#welcome .big-title{font-size:4rem;line-height:60px;color:#fff;}
#welcome .big-title span{color:#FF07DF;}

.home-slider{max-width:650px;}
